  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  <script id="dsq-count-scr" src="//vogueantwerpen.disqus.com/count.js" async></script>
  </body>
</html>
