<!doctype html>
<html>
	<head>
		<title>Niews demo</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<a href="https://www.instagram.com/museumoficecream/"> <img class="instagram" src="http://www.pngpix.com/wp-content/uploads/2016/08/PNGPIX-COM-Ice-Cream-Cone-PNG-Transparent-Image-500x988.png"></a>

	</head>
	<body>
